/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

body {
    margin:             0px 0px 0px 0px;
    padding:            10px 10px 10px 10px;
    background-color:   #ffffff;
    font-family:        Verdana, Arial, sans-serif;
    font-size:          12px;
}

p {
    width:              700px;
    margin:             0px 0px 10px 0px;
    padding:            5px 10px 5px 10px;
    background-color:   #fcfcfc;
}

p.small {
    font-size:          10px;
}

div.top-menu {
    width:              680px;
    margin:             0px 0px 10px 0px;
    padding:            5px 10px 5px 10px;
    border:             1px solid #c0c0c0;
    background-color:   #fcfcfc;
}

select#registries-select, select#platforms-select {
    display:            block;
    margin:             10px 0px 10px 0px;
    width:              700px;
}

div.registry {
    margin:             10px 0px 10px 0px;
    width:              700px;
}

table.registry {
    width:              100%;
    margin:             0px 0px 0px 0px;
    border:             0px solid #ff0000;
    border-collapse:    collapse;
}

table.registry tr {
    border:             0px solid #ffffff;
}

table.registry td {
    border:             0px solid #ffffff;
    padding:            0px 0px 0px 0px;
}

table.registry td.tree-handle {
    width:              16px;
}

table.registry td.tree-handle img {
    cursor:             pointer;
}

table.registry td.icon {
}

table.registry td.display-name {
    width:              100%;
    padding:            2px 5px 2px 5px;
    font-family:        Tahoma, Arial, sans-serif;
    font-size:          12px;
    cursor:             default;
}

table.registry td.option {
    padding:            2px 5px 2px 5px;
    font-family:        Tahoma, Arial, sans-serif;
    font-size:          12px;
    white-space:        nowrap;
}

table.registry td.children {
    border:             0px solid #000000;
}

div.pop-up {
    width:              500px;
    border:             1px solid black;
    background-color:   #fcfcfc;
    display:            none;
    padding:            50px 10px 50px 10px;
}

div#form-registry {
    position:           absolute;
    top:                100px;
    left:               100px;
}

div#form-archive {
    position:           absolute;
    top:                100px;
    left:               100px;
}

div.pop-up table {
    width:              100%;
    margin:             auto 0px auto 0px;
    border-collapse:    collapse;
}

div.pop-up table td {
    padding:            2px 5px 2px 5px;
}
