<?xml version="1.0" encoding="UTF-8"?>
<installer-gui-script minSpecVersion="1.0">
    <title>netbeans-Title</title>
    <welcome file="Welcome.html"></welcome>
    <license file="License.txt"></license>
    <background file="background.tif" scaling="none" alignment="topleft"></background>
    <options allow-external-scripts="yes" customize="allow" rootVolumeOnly="false" hostArchitectures="i386"></options>
    <installation-check script="checkSystem()"></installation-check>
    <volume-check script="checkSystemversion()"></volume-check>
    <script>
/* js:pkmk:start */
function checkSystem() {
	var java_result = checkJavaVersion();
        
        if (!java_result) {
            return java_result;
        }
        
        var mem_result = checkMemsize();
        
        return mem_result;
}
/* js:pkmk:end */

/* js:pkmk:start */
function checkMemsize() {
	var result = false;
	try {
		result = system.sysctl('hw.memsize') >= '536870912';
	} catch (e) {}
	
	if(!result) {
		my.result.type = 'Warn';
		my.result.title = system.localizedStringWithFormat('MEMORY_WARNING_TITLE');
		my.result.message = system.localizedStringWithFormat('MEMORY_WARNING_MSG');
	}
	return result;
}
/* js:pkmk:end */

/* js:pkmk:start */
function checkJavaVersion() {
    var JDK_ENABLED = false;
    var result = false;
    var java8_or_newer = false;
    var jdkFound = false;
    var jreFound = false;
    try {
        if(system.files.fileExistsAtPath('/usr/libexec/java_home')) {
           var res = system.run("/usr/libexec/java_home", "--version", "1.8+", "--failfast");                       
           java8_or_newer = (0 == res);
           if(!java8_or_newer) {
               var res = system.run("/usr/libexec/java_home", "--version", "1.5", "--failfast");                       
               jdkFound = (0 == res);
           }
        }
    } catch (e) {}

    if(system.files.fileExistsAtPath('/Library/Internet Plug-Ins/JavaAppletPlugin.plugin/Contents/Home')) {
        jreFound = true;
    }

    if (java8_or_newer || JDK_ENABLED &amp;&amp; jreFound) {
        result = true;
    } else {
        if (jdkFound) {
            my.result.type = 'Fatal';
            my.result.title = system.localizedStringWithFormat('ERR_OLDER_JAVA8_TITLE');
            my.result.message = system.localizedStringWithFormat('ERR_OLDER_JAVA8_TITLE');
        } else if (jreFound) {
            my.result.type = 'Fatal';
            my.result.title = system.localizedStringWithFormat('ERR_NO_JDK_TITLE');
            my.result.message = system.localizedStringWithFormat('ERR_NO_JDK_MSG');            
        } else {
            my.result.type = 'Fatal';
            my.result.title = system.localizedStringWithFormat('ERR_NO_JAVA_TITLE');
            my.result.message = system.localizedStringWithFormat('ERR_NO_JAVA_MSG');
        }
    }

    return result;
}
/* js:pkmk:end */
</script>

<script>
/* js:pkmk:start */
function checkSystemversion() {
    var result = false;
    var version;	
    try {
            version = my.target.systemVersion.ProductVersion;
            if(version == 'undefined') {
                    result = ( -1 != system.compareVersions(system.version.ProductVersion, '10.5'));
            } else {
                    result = ( -1 != system.compareVersions(version, '10.5'));
            }

    } catch (e) {}

    if(!result) {
            my.result.type = 'Fatal';
            my.result.title = system.localizedStringWithFormat('ERR_INVALID_VERSION_TITLE');
            my.result.message = system.localizedStringWithFormat('ERR_INVALID_VERSION_MSG');
    }

    return result;
}
/* js:pkmk:end */
</script>

<choices-outline>
        <line choice="netbeans">
            <line choice="baseide"></line>            
            <line choice="javase"></line>
            <line choice="webcommon"/>
            <line choice="extide"/>
            <line choice="javaee"></line>
            <line choice="javame"></line>
            <line choice="cpp"></line>
            <line choice="groovy"></line>
            <line choice="php"></line>
            <line choice="ergonomics"></line>            
        </line>
        <line choice="glassfish"></line>
        <line choice="tomcat"></line>
        <line choice="postinstallscripts"></line>
    </choices-outline>
    <choice id="glassfish" title="glassfish-title" description="glassfish-description" start_selected="true" start_enabled="true" start_visible="true">
        <pkg-ref id="ident.pkg.glassfish"></pkg-ref>
    </choice>
    <choice id="tomcat" title="tomcat-title" description="tomcat-description" start_selected="false" start_enabled="true" start_visible="true">
        <pkg-ref id="ident.pkg.tomcat"></pkg-ref>
    </choice>  
    <choice id="netbeans" title="netbeans-title" description="netbeans-description" start_selected="true" start_enabled="true" start_visible="true"></choice>
    <choice id="baseide" title="baseide-title" description="baseide-description" start_selected="true" start_enabled="true" start_visible="true">
        <pkg-ref id="ident.pkg.baseide"></pkg-ref>
    </choice>
    <choice id="javase" title="javase-title" description="javase-description" start_selected="true" start_enabled="true" start_visible="true" selected="choices.javase.selected &amp;&amp; choices.baseide.selected" enabled="choices.baseide.selected">
        <pkg-ref id="ident.pkg.javase"></pkg-ref>
    </choice>   
    <choice id="webcommon" title="webcommon-title" description="webcommon-description" start_selected="true" start_enabled="true" start_visible="true" selected="choices.webcommon.selected &amp;&amp; choices.baseide.selected" enabled="choices.baseide.selected">
        <pkg-ref id="ident.pkg.webcommon"/>
    </choice>
    <choice id="extide" title="extide-title" description="extide-description" start_selected="true" start_enabled="true" start_visible="false" selected="choices.extide.selected &amp;&amp; choices.baseide.selected" enabled="choices.baseide.selected">
        <pkg-ref id="ident.pkg.extide"/>
    </choice>
    <choice id="javaee" title="javaee-title" description="javaee-description" start_selected="true" start_enabled="true" start_visible="true" selected="choices.javaee.selected &amp;&amp; choices.javase.selected" enabled="choices.javase.selected">
        <pkg-ref id="ident.pkg.javaee"></pkg-ref>
    </choice>
    <choice id="javame" title="javame-title" description="javame-description" start_selected="true" start_enabled="true" start_visible="true" selected="choices.javame.selected &amp;&amp; choices.javase.selected" enabled="choices.javase.selected">
        <pkg-ref id="ident.pkg.javame"></pkg-ref>
    </choice>
    <choice id="cpp" title="cpp-title" description="cpp-description" start_selected="true" start_enabled="true" start_visible="true" selected="choices.cpp.selected &amp;&amp; choices.baseide.selected" enabled="choices.baseide.selected">
        <pkg-ref id="ident.pkg.cpp"></pkg-ref>
    </choice>
    <choice id="groovy" title="groovy-title" description="groovy-description" start_selected="true" start_enabled="true" start_visible="true" selected="choices.groovy.selected &amp;&amp; choices.javase.selected" enabled="choices.javase.selected">
        <pkg-ref id="ident.pkg.groovy"></pkg-ref>
    </choice>
    <choice id="php" title="php-title" description="php-description" start_selected="true" start_enabled="true" start_visible="true" selected="choices.php.selected &amp;&amp; choices.baseide.selected" enabled="choices.baseide.selected">
        <pkg-ref id="ident.pkg.php"></pkg-ref>
    </choice>
    <choice id="ergonomics" title="ergonomics-title" description="ergonomics-description" start_selected="true" start_enabled="true" start_visible="true" selected="choices.ergonomics.selected &amp;&amp; choices.baseide.selected" enabled="choices.baseide.selected">
        <pkg-ref id="ident.pkg.ergonomics"></pkg-ref>
    </choice>
    <choice id="postinstallscripts" title="postinstallscripts-title" description="postinstallscripts-description" start_selected="true" start_enabled="true" start_visible="false" selected="true" enabled="true" visible="false">
        <pkg-ref id="ident.pkg.postinstallscripts"></pkg-ref>
    </choice>

    <pkg-ref id="ident.pkg.glassfish" version="0.0.0.0.0" installKBytes="@SIZE_GLASSFISH@" auth="Root" onConclusion="None">glassfish-@GLASSFISH_ID@.pkg</pkg-ref>
    <pkg-ref id="ident.pkg.tomcat" version="0.0.0.6.0" installKBytes="@SIZE_TOMCAT@" auth="Root" onConclusion="None">tomcat-@TOMCAT_ID@.pkg</pkg-ref>
    <pkg-ref id="ident.pkg.baseide" version="0.0.0.0.1" installKBytes="@SIZE_BASEIDE@" auth="Root" onConclusion="None">baseide-@NB_ID@.pkg</pkg-ref>
    <pkg-ref id="ident.pkg.javase" version="0.0.0.0.1" installKBytes="@SIZE_JAVASE@" auth="Root" onConclusion="None">javase-@NB_ID@.pkg</pkg-ref>
    <pkg-ref id="ident.pkg.webcommon" version="0.0.0.0.1" installKBytes="@SIZE_WEBCOMMON@" auth="Root" onConclusion="None">webcommon-@NB_ID@.pkg</pkg-ref>
    <pkg-ref id="ident.pkg.extide" version="0.0.0.0.1" installKBytes="@SIZE_EXTIDE@" auth="Root" onConclusion="None">extide-@NB_ID@.pkg</pkg-ref>
    <pkg-ref id="ident.pkg.javaee" version="0.0.0.0.1" installKBytes="@SIZE_JAVAEE@" auth="Root" onConclusion="None">javaee-@NB_ID@.pkg</pkg-ref>
    <pkg-ref id="ident.pkg.javame" version="0.0.0.0.1" installKBytes="@SIZE_JAVAME@" auth="Root" onConclusion="None">javame-@NB_ID@.pkg</pkg-ref>
    <pkg-ref id="ident.pkg.cpp" version="0.0.0.0.1" installKBytes="@SIZE_CPP@" auth="Root" onConclusion="None">cpp-@NB_ID@.pkg</pkg-ref>
    <pkg-ref id="ident.pkg.groovy" version="0.0.0.0.1" installKBytes="@SIZE_GROOVY@" auth="Root" onConclusion="None">groovy-@NB_ID@.pkg</pkg-ref>
    <pkg-ref id="ident.pkg.php" version="0.0.0.0.1" installKBytes="@SIZE_PHP@" auth="Root" onConclusion="None">php-@NB_ID@.pkg</pkg-ref>
    <pkg-ref id="ident.pkg.ergonomics" version="0.0.0.0.1" installKBytes="@SIZE_ERGONOMICS@" auth="Root" onConclusion="None">ergonomics-@NB_ID@.pkg</pkg-ref>
    <pkg-ref id="ident.pkg.postinstallscripts" version="0.0.0.0.1" auth="Root" onConclusion="None">postinstallscripts.pkg</pkg-ref>
</installer-gui-script>