<#if package?? && package != "">
package ${package};

</#if>
/**
 *
 * @author ${user}
 */
public class ${name} {
    public static void main( String[] args )
    {
        System.out.println( "Hello World!" );
    }
}

