<?php

    class __NAME__ {

        //Specify the api-key here
        private static $apiKey = "";    

        public static function getApiKey() {
            return self::$apiKey;
        }
    }
?>