<?php

    class __NAME__ {

        //Specify the access_key here
        private static $accessKey = "";

        //Specify the secret here
        private static $secret = ""; 

        public static function getAccessKey() {
            return self::$accessKey;
        }

        public static function getSecret() {
            return self::$secret;
        }
    }
?>