/*/build/
/*/nbproject/private/
/*/*/nbproject/private/
/*/*/build/
/*/*/dist/
/*/*/*/nbproject/private/
/*/*/*/build/
/*/*/*/dist/
/*/external/*.zip
/*/external/*.jar
/*/external/*.dll
/*/external/*.exe
/*/external/*.js
/*/external/*/**
/*/*/external/*.zip
/*/*/external/*.jar
/*/*/external/*.dll
/*/*/external/*.exe
/*/*/external/*.js
/*/*/external/*.nbm
/*/*/external/*/**
/nbbuild/installer/jnlp/external/*.zip
/nbbuild/installer/jnlp/external/*.jar
/nbbuild/installer/jnlp/external/*.dll
/nbbuild/installer/jnlp/external/*.exe
/nbbuild/installer/jnlp/external/*.js
/nbbuild/installer/jnlp/external/*.nbm
/nbbuild/netbeans/
/nbbuild/nbms/
/nbbuild/testuserdir/
/nbbuild/*.zip
/nbbuild/user.build.properties
/nbbuild/gitinfo.properties
/nbbuild/netbeansrelease.properties
/nbi/engine/native/*/*/dist/
/nb-javac/
/java.source.nbjavac/test/test-nb-javac/nbproject/private/
/harness/apisupport.harness/windows-launcher-src/*.exe
/harness/apisupport.harness/windows-launcher-src/*.res
/ide/versioning/test/qa-functional/data/tck.properties
/ide/versioning.core/test/qa-functional/data/tck.properties
/nb/ide.launcher/windows/*.exe
/nb/ide.launcher/windows/*.res
/platform/o.n.bootstrap/launcher/windows/*.dll
/platform/o.n.bootstrap/launcher/windows/*.exe
/platform/o.n.bootstrap/launcher/windows/*.res
# Various files that may be generated if the launcher projects are opened in NetBeans 8.2.
/harness/apisupport.harness/windows-launcher-src/nbproject/Makefile-*.mk
/harness/apisupport.harness/windows-launcher-src/nbproject/Package-*.bash
/harness/apisupport.harness/windows-launcher-src/nbproject/private/
/nb/ide.launcher/windows/nbproject/Makefile-*.mk
/nb/ide.launcher/windows/nbproject/Package-*.bash
/nb/ide.launcher/windows/nbproject/private/
/platform/o.n.bootstrap/launcher/windows/nbproject/Makefile-*.mk
/platform/o.n.bootstrap/launcher/windows/nbproject/Package-*.bash
/platform/o.n.bootstrap/launcher/windows/nbproject/private/

# Database logs
derby.log


# OS generated files #
######################
.DS_Store

#the following should only be transient, until resolved more appropriately:
/ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/parser/JavaCharStream.java
/ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/parser/ParseException.java
/ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/parser/SQLParser.java
/ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/parser/SQLParserConstants.java
/ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/parser/SQLParserTokenManager.java
/ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/parser/Token.java
/ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/parser/TokenMgrError.java
/debugger.jpda.ui/test/qa-functional/data/debugTestProject/nbproject/private/
/debugger.jpda.ui/test/qa-functional/data/debugTestProjectAnt/nbproject/private/
/profiler/lib.profiler/release/lib/
/websvccommon/websvc.saas.api/src/org/netbeans/modules/websvc/saas/model/jaxb/
/websvccommon/websvc.saas.api/src/org/netbeans/modules/websvc/saas/model/oauth/
/websvccommon/websvc.saas.api/src/org/netbeans/modules/websvc/saas/model/wadl/
/xml/test/qa-functional/data/DTDActionsTestProject/nbproject/private/
/xml/test/qa-functional/data/ActionsTestProject/nbproject/private/
/xml/test/qa-functional/data/CoreTemplatesTestProject/nbproject/private/
/javafx2.samples/FXML-LoginDemo/nbproject/private/

# Snapcraft Generated files #
#######################
/nbbuild/packaging/*/snap/.snapcraft/
/nbbuild/packaging/*/parts/
/nbbuild/packaging/*/prime/
/nbbuild/packaging/*/stage/
*.snap

# Backup files
######################
*~
*.orig

# Gradle Support Generated files #
##################################
/groovy/gradle/netbeans-gradle-tooling/.gradle/
/groovy/gradle/netbeans-gradle-tooling/gradle/wrapper/gradle-wrapper.jar
/groovy/gradle/release/modules/gradle/daemon-loader/.gradle/
/nbbuild/misc/prepare-bundles/target/
