[submodule ".github/actions/delete-artifact"]
	path = .github/actions/delete-artifact
	url = https://github.com/GeekyEggo/delete-artifact
[submodule ".github/actions/junit-report"]
	path = .github/actions/junit-report
	url = https://github.com/mikepenz/action-junit-report
