<div ng-click=""><!--cc;16;ct2.;0;test2,hello2,ironman2,dog2;hello2;hel|lo2();test,hello,dog3,test3,ct1;-->
    <!--cc;3;{{ct2.}};2;test2,hello2,ironman2,dog2;test2;test2|}};test,hello,dog3,test3,ct3;-->
    
    
    
    <div ng-model=""></div><!--cc;20;ct2.ironman2.;0;iteration,date,exec,config;date;da|te";test,hello,dog3,ironman3;-->
    <div ng-model=""></div><!--cc;20;ct2.ironman2.;0;iteration,date,exec,config;config;co|nfig";test,hello,dog3,ironman3;-->
    <div ng-model=""></div><!--cc;20;ct2.ironman2.date.;0;getDate,getDay;getDate;getD|ate()";test,hello,dog3,ironman3;-->
    <div ng-model=""></div><!--cc;20;ct2.ironman2.config.;0;url,http;url;.ur|l;test,hello,dog3,ironman3;-->
    <div ng-bind=""></div>
    
    <!--cc;3;{{ct2.ironman2.}};2;iteration,date,config,exec;config;conf|ig}};test2,hello,test,test3;-->

    <!--cc;3;{{ct2.ironman2.config.}};2;http,url;url;.ur|l;test2,hello,test,test3;-->
    
    <!--cc;3;{{ct2.ironman2.date.}};2;getDate,getDay;getDate;get|Date()};test2,hello,test,test3;-->
    
    <!--cc;3;{{ct2.dog2.}};2;name;name;na|me}};test2,hello,test,test3;-->
    
    <div ng-bind=""></div><!--cc;19;ct2.dog2.;0;name;name;na|me";test2,hello,test,test3;-->

    
    <div ng-model=""><!--cc;20;ct2.;0;test2,hello2,ironman2,dog2;hello2;hel|lo2();test,hello,dog3,test3;-->
    <div ng-bind=""><!--cc;19;ct2.;0;test2,hello2,ironman2,dog2;hello2;hel|lo2();test,hello,dog3,test3;-->
    
        
     
     <!--gt;3;<div ng-click="ct2.hello2()"></div>;11;controllers.js;15;18;-->   
     <!--gt;3;<div ng-model="ct2.test2"></div>;9;controllers.js;14;18;-->   
     <!--gt;3;<div ng-bind="ct2.dog2"></div>;9;controllers.js;18;18;-->   
     <!--gt;3;<div ng-bind="ct2.ironman2.date"></div>;9;controllers.js;32;10;-->   
     <!--gt;3;<div ng-bind="ct2.ironman2.config.url"></div>;9;controllers.js;36;9;-->   
     <!--gt;3;{{ct2.test2}};4;controllers.js;14;18;-->   
     <!--gt;3;{{ct2.ironman2.config.url}};4;controllers.js;36;9;-->   
     <!--gt;3;{{ct2.ironman2.date}};4;controllers.js;32;10;-->   
     <!--gt;3;{{ct2.dog2.name}};4;controllers.js;18;26;-->   
     <!--gt;3;<div ng-controller="MyCtrl2 as ct2"></div>;17;controllers.js;13;22;-->   
     
     <!--cc;3;{{}};2;ct2;ct2;ct2|}};ct1,test,hello,ironman,ct3,dog,test2,hello2,dog3,test3;-->
     
     <div ng-click=""><!--cc;21;;0;ct2;ct2;ct|2";ct1,ct3,test,hello,ironman,dog,test2,hello2,dog3,test3;-->
</div>
