<#-- FreeMarker template (see http://freemarker.org/) -->
<#if description?? && description != "">
description = '${description}'
</#if>
allprojects {

<#if group?? && group != "">
    group = '${group}'
</#if>

    repositories {
        mavenCentral()
    }
}

subprojects {
    apply plugin: 'java'

<#if dependencies??>
    dependencies {
<#list dependencies as dep>
        ${dep}
</#list>
    }
</#if>
}