rev:{rev}
auth:{author}
user:{user}
desc:{desc}
date:{date|hgdate}
id:{node|short}
parents:{parents}
file_mods:{files}
file_adds:{file_adds}
file_dels:{file_dels}
file_copies:{file_copies}
branches:{branches}
tags:{tags}
endCS:
