/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
/**CC
b|
background
background:
*/



/**CC
c|
clip
clip:
*/


    display: block;
/**CC
font-s|
font-size
font-size:
*/



}

/**CC
caption{co|}
color
caption{color: }
*/



/**CC
caption{color:blue; p|}
position
caption{color:blue; position: }
*/


