<html>
    <body>
        {{ image( 'img/header.png' ) }}
        <ul>
        {# usage example: for loop #}
        {% for user in users %}
            <li>{{ user.name }}</li>
        {% endfor %}
        </ul>
        {{ "Foo #{bar} baz." }}
    </body>
</html>
