a(class =  name   + name + "prdk\"a" href=['ahoj', 'test']  checked) Google
a(class =  name   + name + "prdk\'a" href=['ahoj', 'test']  checked) Google
 a(class =  name   + name + 'prdk\'a' href=['ahoj', 'test']  checked) Google
