doctype
html
	head
		title Node.js Login
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
		style(type='text/css').
			#wrapper { padding: 0 } 
		script(type='text/javascript').
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-1890531-10']);
			_gaq.push(['_setDomainName', 'braitsch.io']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();     
	body
		a(href="http://github.com/braitsch/node-login")
			img#github-banner(style="position:absolute;top:0px;right:0;border:0;", src="", alt="Fork me on GitHub")
	block content
	block scripts