<#assign licenseFirst = "/*">
<#assign licensePrefix = " * ">
<#assign licenseLast = " */">
<#include "${project.licensePath}">

/* 
 * File:   ${NAME}.${EXTENSION}
 * Author: ${user}
 *
 * Created on ${DATE}, ${TIME}
 */

#include <cstdlib>

using namespace std;

/*
 * 
 */
int main(int argc, char** argv) {
    
    return 0;
}

