<div ng-click=""><!--cc;16;;0;test2,hello2,ironman2,dog2;hello2;hel|lo2();test,hello,dog3,test3;-->
    <!--cc;3;{{}};2;test2,hello2,ironman2,dog2;test2;test2|}};test,hello,dog3,test3;-->
    
    
    
    <div ng-model=""></div><!--cc;20;ironman2.;0;iteration,date,exec,config;date;da|te";test,hello,dog3,ironman3;-->
    <div ng-model=""></div><!--cc;20;ironman2.;0;iteration,date,exec,config;config;co|nfig";test,hello,dog3,ironman3;-->
    <div ng-model=""></div><!--cc;20;ironman2.date.;0;getDate,getDay;getDate;getD|ate();test,hello,dog3,ironman3;-->
    <div ng-model=""></div><!--cc;20;ironman2.config.;0;url,http;http;.ht|tp;test,hello,dog3,ironman3;-->
    <div ng-bind=""></div>
    
    <!--cc;3;{{ironman2.}};2;iteration,date,config,exec;config;.conf|ig;test2,hello,test,test3;-->

    <!--cc;3;{{ironman2.config.}};2;http,url;http;.ht|tp;test2,hello,test,test3;-->
    
    <!--cc;3;{{ironman2.date.}};2;getDate,getDay;getDate;get|Date();test2,hello,test,test3;-->
    
    <!--cc;3;{{dog2.}};2;name;name;na|me}};test2,hello,test,test3;-->
    
    <div ng-bind=""></div><!--cc;19;dog2.;0;name;name;nam|e";test2,hello,test,test3;-->

    
    <div ng-model=""><!--cc;20;;0;test2,hello2,ironman2,dog2;hello2;hel|lo2();test,hello,dog3,test3;-->
    <div ng-bind=""><!--cc;19;;0;test2,hello2,ironman2,dog2;hello2;hel|lo2();test,hello,dog3,test3;-->
    
        
     
     <!--gt;3;<div ng-click="hello2()"></div>;11;controllers.js;15;20;-->   
     <!--gt;3;<div ng-model="test2"></div>;9;controllers.js;14;20;-->   
     <!--gt;3;<div ng-bind="dog2"></div>;9;controllers.js;18;20;-->   
     <!--gt;3;<div ng-bind="ironman2.date"></div>;9;controllers.js;32;10;-->   
     <!--gt;3;<div ng-bind="ironman2.config.url"></div>;9;controllers.js;36;9;-->   
     <!--gt;3;{{test2}};4;controllers.js;14;20;-->   
     <!--gt;3;{{ironman2.config.url}};4;controllers.js;36;9;-->   
     <!--gt;3;{{ironman2.date}};4;controllers.js;32;10;-->   
     <!--gt;3;{{dog2.name}};4;controllers.js;18;28;-->   
     <!--gt;3;<div ng-controller="MyCtrl2"></div>;11;controllers.js;13;22;-->   
     
     
</div>
