<div ng-click=""><!--cc;16;;0;test3,hello3,ironman3,dog3;hello3;hel|lo3();test2,hello2,dog,test;-->
    <!--cc;3;{{}};2;test3,hello3,ironman3,dog3;test3;test3|}};test2,hello2,dog,test;-->
    
    
    
    <div ng-model=""></div><!--cc;20;ironman3.;0;iteration,date,exec,config;date;da|te";test2,hello2,dog,ironman;-->
    <div ng-model=""></div><!--cc;20;ironman3.;0;iteration,date,exec,config;config;co|nfig";test2,hello2,dog,ironman;-->
    <div ng-model=""></div><!--cc;20;ironman3.date.;0;getDate,getDay;getDate;getD|ate();test2,hello2,dog,ironman;-->
    <div ng-model=""></div><!--cc;20;ironman3.config.;0;url,http;http;.ht|tp;test2,hello2,dog,ironman;-->
    <div ng-bind=""></div>
    
    <!--cc;3;{{ironman3.}};2;iteration,date,config,exec;config;.conf|ig;test2,hello,test,test3;-->

    <!--cc;3;{{ironman3.config.}};2;http,url;http;.ht|tp;test2,hello,test,test3;-->
    
    <!--cc;3;{{ironman3.date.}};2;getDate,getDay;getDate;get|Date();test2,hello,test,test3;-->
    
    <!--cc;3;{{dog3.}};2;name;name;na|me}};test2,hello,test,test3;-->
    
    <div ng-bind=""></div><!--cc;19;dog3.;0;name;name;.na|me";test2,hello,test,test3;-->

    
    <div ng-model=""><!--cc;20;;0;test3,hello3,ironman3,dog3;hello3;hel|lo3();test2,hello2,dog,test;-->
    <div ng-bind=""><!--cc;19;;0;test3,hello3,ironman3,dog3;hello3;hel|lo3();test2,hello2,dog,test;-->
    
     
    
     <!--gt;3;<div ng-click="hello3()"></div>;11;controllers.js;23;24;-->   
     <!--gt;3;<div ng-model="test3"></div>;9;controllers.js;22;24;-->   
     <!--gt;3;<div ng-bind="dog3"></div>;9;controllers.js;26;24;-->   
     <!--gt;3;<div ng-bind="ironman3.date"></div>;9;controllers.js;32;10;-->   
     <!--gt;3;<div ng-bind="ironman3.config.url"></div>;9;controllers.js;36;9;-->   
     <!--gt;3;{{test3}};4;controllers.js;22;24;-->   
     <!--gt;3;{{ironman3.config.url}};4;controllers.js;36;9;-->   
     <!--gt;3;{{ironman3.date}};4;controllers.js;32;10;-->   
     <!--gt;3;{{dog3.name}};4;controllers.js;26;32;-->   
     <!--gt;3;<div ng-controller="MyCtrl3"></div>;11;controllers.js;21;22;-->   
     
     
</div>
