{*
 * New BSD License
 * ---------------
 *
 * Copyright (c) 2009, Ondřej Brejla <ondrej@brejla.cz>
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the name of the "Pollie" nor the
 *       names of its contributors may be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
 * ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *}
{**
 * Template for PollieForm - part of Pollie component for Nette Framework.
 *
 * @copyright  Copyright (c) 2009 Ondřej Brejla
 * @license    New BSD License
 * @link       http://github.com/OndrejBrejla/Pollie
 *
 * @param   string                          $question
 * @param   Answer[]                        $answers
 * @param   int                             $allVotesCount
 * @param   boolean                         $isVotable
 *}
<div style="border: 3px solid #1E5EB6; width: 200px;">
{snippet}
    <table style="width: 100%;">
    <tr>
        <td style="background-color: #DEE7EC;"><h4>{$question}</h4></td>
    </tr>
    {foreach $answers as $answer}
    <tr>
        <td style="border-top: 1px solid black; color: #C00000;">{$answer->text}</td>
    </tr>
    <tr>
        <td style="font-size: 10px;">
            ({$answer->votesCount}x - {$ratio = $allVotesCount ? round($answer->votesCount/($allVotesCount/100), 2) : 0}%) <br />
            <img src="/images/pixel-darkblue.png" width="{$ratio * 200/100}" height="10" border="0" />
        </td>
    </tr>
    {/foreach}
    <tr>
        <td style="border-top: 1px solid black;">
            {if $isVotable}
                {control pollieForm}
            {/if}
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid black; font-size: 10px; background-color: #DEE7EC;">Total votes: <strong>{$allVotesCount}</strong></td>
    </tr>
    {if $flashes}
    {foreach $flashes as $flash}
    <tr>
        <td style="border-top: 1px solid black; font-size: 10px; background-color: #DEE7EC;">{$flash->message}</td>
    </tr>
    {/foreach}
    {/if}
    </table>
{/snippet}
</div>