doctype html
html
    title TODO supply a title
    body
      - var user = { description: 'foo bar baz' }
      - var authorised = true
      #user
        unless false
        
          p You're logged in as #{user.name}
 