/* File name:  CSSEdit 
`1234567890-=\qwertyuiop[]asdfghjkl;'zxcvbnm,./
~!@#$%^*()_+|QWERTYUIOP{}ASDFGHJKL:"ZXCVBNM?&<>
*/
root {azimuth: x, y; background: 70%; background-attachment: #0123456789ABCDEFabcdef; background-color: 1.5em;  background-image: x;
background-position: "Myriad Web", x; background-position: x; border: x; border-collapse: x; border-color: x;
border-spacing: x; border-style: x; border-top: x; border-right: x; border-bottom: x; border-left: x;
border-top-color: x; border-right-color: x; border-bottom-color: x; border-left-color: x; border-top-style: x;
border-right-style: x; border-bottom-style: x; border-left-style: x; border-width: x; bottom: x; 
caption-side: x; clear: x; clip: x; color: x; content: x; counter-increment: x; counter-reset: x; cue: x;
cue-after: x; cue-before: x; cursor: x; direction: x; display: x; elevation: x; empty-cells: x; float: x;
font: x; font-family: x; font-size: x; font-size-adjust: x; font-stretch: x; font-style: x; font-variant: x;
font-weight: x; height: x; left: x; letter-spacing: x; line-height: x; list-style: x; list-style-image: x;
list-style-position: x; list-style-type: x; margin: x; margin-top: x; margin-right: x; margin-bottom: x;
margin-left: x; marker-offset: x; marks: x; max-height: x; max-width: x; min-height: x; min-width: x;
orphan: x; outline: x; outline-color: x; outline-style: x; outline-width: x; overflow: x; padding: x;
padding-top: x; padding-right: x; padding-bottom: x; padding-left: x; page: x; page-break-after: x;
page-break-before: x; page-break-inside: x; pause: x; pause-after: x; pause-before: x; pitch: x;
pitch-range: x; play-during: x; position: x; quotes: x; richness: x; right: x; size: x; speak: x;
speak-header: x; speak-numeral: x; speak-punctuation: x; speech-rate: x; stress: x; table-layout: x;
text-align: x; text-decoration: x; text-indent: x; text-shadow: x; text-transform: x; top: x;
unicode-bidi: x; vertical-align: x; visibility: x; voice-family: x; volume: x; white-space: x;
widows: x; width: x; word-spacing: x;
z-index: 1234567890\qwertyuiopasdfghjklzxcvbnm,QWERTYUIOPASDFGHJKLZXCVBNM;
}
