/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/* -------- DIRECT STYLES FOR TAGS-----------*/
body {
	color: #2F2F2F; padding:0px; margin:0px;
	font-size: 0.7em;
	font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	height:500px;
}
body.blue-bg {
	 background-color:#E3EAF1;
}
h1 {
	font-size: 1.6em;color: #D20106;font-weight : normal;padding:0px;margin:0px 0px 10px 0px;
	text-align:left;
}

h1.light {
	padding:0px;margin:0px 0px 10px 0px;
	text-align:left;
	color:#868585;
}
h1 A:link:hover, h1 A:visited:hover  {
	font-weight:bold;
}

h2 {
	font-size: 1.45em;color: #EE6B00;  font-weight : normal; padding:5px 0px 2px 0px;margin-bottom:5px;
	border-bottom:1px solid #D1d1d1; text-align:left;
}
h2 tt { color: #EE6B00; }
h1 tt { color: #D20106; }
h3 tt { color: #2D3F8E; }

h3 {
	font-size: 1.2em;color: #2D3F8E; font-weight : normal; padding:10px 0px 3px 0px;margin:0px;
	 text-align:left;
}
h4 {
	font-size: 1.15em;color: #3D3D3D; font-weight : bold; padding:10px 0px 3px 0px;margin:0px; text-align:left;
}
h5 {
	font-size: 1.15em;color: #1E2A60; font-weight : bold; padding:10px 0px 3px 0px;margin:0px;
	color: #5E5966; text-align:left;
}

A:link, A:visited {
  color: #1E2A60; font-weight : normal; text-decoration: underline;
}

A:link:hover, A:visited:hover  {
  color: #1E2A60; font-weight : normal; text-decoration : underline;
}

.nav A:link {
	color: #EE6B00;
}

p {
	margin:0px 0px 0px 0px;
	padding:0px 0px 10px 0px;
}

pre {
	background-color:#FFF8E4;
	padding:10px;
	font-size: 1.3em;
	_font-size: 1.2em;
}
pre,samp,code,tt {
  font-family: "Courier New", monospace;
  font-size:1.1em;
  color:black;
}

ol li {
	margin-bottom:9px;margin-top:2px;
}

ul li {
	margin-bottom:8px;margin-top:2px;
}

ul {
	/*padding:10 0px 10px 20px;*/
	margin: 0px;
	_margin-left: 15px;
}
/* --------------------------- */

/* ------- SHARED STYLE FOR BOTH FLEX AND FIXED PAGES  -----------*/
/* top level div, keeps page centered. both fix and flex*/
#center-container {
	text-align:center;
	background-image:url('/images/v5/body-bg.png');background-repeat:repeat-x; 
	background-color:#E3EAF1;
}
/* layer holding footer links both flex and fix*/
#footer-text {
	margin:0px 25px 0px 25px;
	padding:10px 0px 10px 0px;
}
/* layer holding terms of use text and link */
#tof {
	font-size:0.9em;
	margin-top:3px;
}
/* navigation breadcrumbs for both flex and fix pages */
#navig-breadcrumbs {
	margin-left:0px;
	_margin-left:0px;
	padding:4px 0px 4px 20px;
	font-size: 0.9em;
	background-image:url('/images/v5/path-bg.png');background-repeat:repeat-x;background-position:bottom;
	background-color:#EBEDF1;
	text-align:left;
}
#download-box {
	height:166px;_height:170px;
}
#print {
	float:right;
	margin-top:6px;
}
/* D&S pages are wrapped by this, can set extra style here */
#doc {
	line-height:150%;
	padding-left:20px;
	_width:98%;
}
/* D&S sampole project box*/
#sample-project {
    float:right;
    margin:5px 0px 5px 5px;
    border: 1px dotted silver;
    background-color:#FFF4EE;
}
/* top netbeans logo link, if absolute it fill overlay wings which looks nice */
.logo-link {
	position:absolute;
}
/* layer with login box*/
#loginbox {
	padding:5px 5px 5px 13px;
}
#f-page-news h2 {
	font-weight:bold;border: 0px;
}
#f-partner {
	_margin-top:10px;
	padding:10 10px 10px 10px;
}
.product-list-box {
 margin:15px 0px 0px 545px;
}
/* D&S feedback box */
.feedback-box {
  float: right;
  padding:5px;
  margin:5px;
  background-color: #F2F7FB;
  border: 1px black dotted;
  font-style:italic;
}

#bookmarks {
	float:right;
	margin:10px 10px 10px 0px;
	padding:5px;
	border:1px dotted grey;
}
/* ------------------------- */

/* --------- FIXED WIDTH PAGE STYLE ----------- */
/* left and right shaded border for fix pages*/
#page-border {
	width:804px;
	background-image:url('/images/v5/border-bg2.png');background-repeat:repeat-y;
	padding-top:7px; margin-left:auto; margin-right:auto;
	
	padding:0px;
	text-align:left;
}
/* layer holding navig tabs for fix pages */
#fixed-tabs {
	margin:0px -2px 0px 0px;
	background-image:url('/images/v5/tabs-bg.png');background-repeat:repeat-x;
	height:26px;
	text-align:center;
	_margin-left:-3px;
}
/* navig tabs has no border*/
#fixed-tabs img {
	border:0px;
}
/* layer holding main content table. must have L+R marging because shaded borders in layer below*/
#fixed-contentarea {
	margin:0px 5px 0px 2px;
}
/* top content box over main and right cols. only for fixed pages*/
#fixed-top-contentbox {
	width:797px;
	padding-top:2px;
	_padding-top:0px;
	border-bottom:1px solid #565E7D;
}
/* homepage top box background layer*/
#top-box-bg {	
	margin:0px;	padding:0px;
	background-image:url('/images/v5/top-banner-60.jpg');background-repeat:no-repeat;
	height:188;
	_height:190;
	background-color:#D2DCE6;
	margin-top:-2px;
}
#top-box-bg img {
	border:0px;
}
/* layer holding main content table - IE hack*/
#fixed-contentbox-ie {
		_width:797px;
}
/* layer holding fix page footer */
#fixed-footer {	
	margin:0px;
	width:100%;
	height:42px;
	background-image:url('/images/v5/footer-bg.png');background-repeat:no-repeat;
}
/* layer holding netbeans logo at the very top of the page */
#fixed-logo {
	width:800px;
	height:50px; 
	_height:60px;
	padding-bottom:10px;
	text-align:left;
	margin-left:auto;margin-right:auto;
	
} 
/* ----------------------------- */

/* --------- FLEXIBLE PAGE STYLE ------------- */
/* margins for whole flex page*/
#floating-page {
	text-align:left; margin: 0px 25px 15px 25px;
	padding-top:10px;
	_padding-top:0px;
}
/* style for top level table cells */
.floating-wrap-table {
	padding:0px;margin:0px;	
}
#wrap-table{
	width:100%;
	_width:96%;
}
/* layer holding shaded left border */
#shade-left {
	background-image:url('/images/v5/shade-left.png');background-repeat:repeat-y;
	background-position:left;
}
/* layer holding shaded right border */
#shade-right {
	background-image:url('/images/v5/shade-right2.png');background-repeat:repeat-y;
	background-position:right;
	padding-right:6px;
}
#floating-contenttable {
	margin:0px 0px 0px 2px;
	background-color: white; 
	width:auto;
}
/* layer holding flex page navig tabs images */
#floating-tabs {
	display:block;
	margin-left:auto; margin-right:auto;
	width:730px;
	min-width:725px;
	
}
/* layer wrapping flex page tabs and wings */
#floating-tabs-container {
	margin:0px -1px 0px 0px;
	padding:0px;
	background-image:url('/images/v5/tabs-bg.png');background-repeat:repeat-x;
	height:26px;
	text-align:center;
}
#floating-tabs img {
	border:0px;
}
/* layer holding lfex page footer */
#floating-footer {
	margin:0px 1px 0px 0px;
	padding:0px;
	background-image:url('/images/v5/footer-floating-bg.png');background-repeat:repeat-x;
	height:42px;
}
/* layer holding right content column*/
#floating-col-right {
	/*float:right;*/
	width:230px;
	padding: 0px 0px 0px 0px;
	margin:-1px;
}
#floating-col-right h2 {
		border: 0px;
		padding-top:0px;margin-top:0px;
		font-weight:normal;
}
#floating-col-right h1 {
	font-size: 1.50em;
		border: 0px;
		font-weight:normal;
}
/* layer holding floating page logo*/
#floating-logo {
	padding:2px 27px 0px 27px;
	text-align:left;
	
}
/* -------------------------- */


/* ----------- VARIOUS DESIGN CLASSES-------------- */
/* backgrounds */
.bg-bege {
	background-color: #FFFCF4;
}
.bg-face {
	background-color:#FFF4EE;
}
.bg-silver {
	background-color:#EFEFEF;
}
.bg-silver2 {
	background-color:#F6F6F6;
}
.bg-sky, td.bg-sky {
	background-color:#F4F7FF;
}
.bg-white {
	background-color:white;
}

.inbox {
	padding:4px 8px 4px 8px;
}

/* floating */
.float-left {
	float:left;
}
.float-right {
	float:right;
}

/* borders */
.b-left {
	border-left:1px solid #ADADAD;
}
.b-right {
	border-right:1px solid #ADADAD;
}
.b-top {
	border-top:1px solid #ADADAD;
}
.b-bottom {
	border-bottom:1px solid #ADADAD;
}
.b-top-dashed {
	border-top:1px dashed #ADADAD;
}
.b-left-dashed {
	border-left:1px dashed #ADADAD;
}
.b-right-dashed {
	border-right:1px dashed #ADADAD;
}
.b-bottom-dashed {
	border-bottom:1px dashed #ADADAD;
}


/* text cells padding */
.f-page-cell {
	padding:15px;
	vertical-align:top;
	line-height:140%;
}
.f-page-cell-mpad {
	padding:25px;
	vertical-align:top;
	line-height:140%;
}

/* tables  styles */
table {
	color: #555555; font-size:1em;
	font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}
table.t-packs td {
	padding-bottom:10px;
}
.colapse {
	border-collapse:collapse;
	width:756px;
}
.f-page-table {
	width:767px;
	_width:700px;
}
.f-page-table-2col {
	width:797px;
	_width:790px;
}
.full-width {
	width:100%;
}
.f-page-rcol {
	width:307px;_width:306px;
}
.rcol {
	width:249px
}


/* font styles */
.font-light { 
	color: #AEADAD;
}
.font-13 {
	font-size:1.1em;
}  
.font-14 {
	font-size:1.2em;
}
.font-15 {
	font-size:1.3em;
}
.font-16 {
	font-size:1.4em;
}
.font-10 {
	font-size:0.8em;
}
.font-11 {
	font-size:0.9em;
}
.font-9 {
	font-size:0.75em;
}
.bold {
	font-weight:bold;
}
.u {
	text-decoration:underline;
}

/* text color styles */
.orange {
	color: #EE6B00;
}
.blue {
	color: #1E2A60;
}

b {
	font-size:1em;
}
.normal {
	font-weight:normal;
}

/* vertical and horizontal alignments */
.valign-top {
	vertical-align:top;
}
.valign-center {
	vertical-align:middle;
}
.valign-bottom { 
	vertical-align:bottom;
}
.align-justify {
	text-align: justify;
} 
.align-right {
	text-align: right;
}  
.align-center {
	text-align: center;
}


/* forms styles */
form {
	padding:0px;margin:0px;
}
input.field {
	border:1px solid #1E2A60;
}	
.clear {
	clear:both;
}
select {
	border:1px solid #1E2A60;
}
input.button {
	border:1px solid #1E2A60;
	background-color:#FFF8E4;
}
input.toplogininp {
	width:120px;
}

/* others */
/* example code will have scrollbars if too big*/
.examplecode  {
	background-color:#FFF8E4;
	overflow:auto;
	width:95%;
}

em.Code {
	background-color:#FFF8E4;
	overflow:auto;
	width:500px;
}

.prod-img-l {
	margin:5px 5px 5px 0px;
	float:left;
}
.prod-img-p {
	margin:5px 0px 5px 5px;
	float:right;
}

.news-image {
	float:right;
	margin:3px 0px 5px 12px;
}
/*------------- LEGACY STYLES -----------------*/
.leftnavtitle {
  font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
  font-size: 1.4em;
  font-weight:normal;
  margin-top:15px;
  margin-bottom:20px;
  padding-bottom:0px;
  color:#0E1B55;
}

.moduletitle {
  font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
  font-size: 22px;
  font-weight:normal;
  margin-top:4px;
  margin-bottom:20px;
  padding-bottom:0px;
  border-bottom:1px solid #AFAFAF;
  color:#0E1B55;
  background-image:url("/images/v4/bg_icon.gif");
  background-repeat:no-repeat;
  background-position:right;
}

.leftmenuarrow {
  margin-top:8px;
  background-image:url("/images/v4/arr_r3.gif");
  background-repeat:no-repeat;
  font-weight:bold;
  padding-bottom:10px;
  border-bottom:1px solid #EFEFEF;
}

.leftmenuarrdn {
  margin-top:8px;
  background-image:url("/images/v4/arr_dn.gif");
  background-repeat:no-repeat;
  font-weight:bold;
  padding-bottom:10px;
  border-bottom:1px solid #EFEFEF;
}

.leftmenuplus {
  margin-top:8px;
  background-image:url("/images/v4/menu_mark_plus.gif");
  background-repeat:no-repeat;
  font-weight:bold;
  padding-bottom:10px;
  border-bottom:1px solid #EFEFEF;
}

.leftmenusq {
  margin-top:8px;
  background-image:url("/images/v4/menu_mark_sq.gif");
  background-repeat:no-repeat;
  font-weight:bold;
  padding-bottom:10px;
  border-bottom:1px solid #EFEFEF;
}

.leftmenug {
  margin-top:8px;
  background-image:url("/images/v4/menu_mark_gt.gif");
  background-repeat:no-repeat;
  font-weight:bold;
  padding-bottom:10px;
}

.leftsubmenug {
  margin-top:6px;
  background-image:url("/images/v4/menu_mark_gt.gif");
  background-repeat:no-repeat;
}

.leftsubmenusq {
  margin-top:6px;
  background-image:url("/images/v4/menu_mark_ssq.gif");
  background-repeat:no-repeat;
}

.leftmenuminus {
  margin-top:8px;
  background-image:url("/images/v4/menu_mark_minus.gif");
  background-repeat:no-repeat;
  font-weight:bold;
  padding-bottom:10px;
  border-bottom:1px solid #EFEFEF;
}

.leftmenuitem {
  margin-left:15px;
  padding:0px;
  border:0px;
}

.leftsubmenuitem {
  margin-left:15px;
  padding:0px;
  border:0px;
}

.leftmenuitem SELECT {
  font-size:10px;
  font-weight:bold;
  font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
  color:#3F3F3F;
  width:140px;
}

.rrrarticle {
  margin-top:5px;
  background-image:url("/images/v4/tl.gif");
  background-repeat:no-repeat;
  background-position: 0px 2px;
}

.rarticle {
  margin-top:8px;
  background-image:url("/images/v4/arr_r_trans.gif");
  background-repeat:no-repeat;
}

.rarticletitle {
  margin-left:15px;
  font-weight:bold;
}

.rarticletext {
  margin-left:15px;
  margin-right:10px;
}
.ml15 {
  margin-left:15px;
}

.threelinesarticle {
  background-image:url("/images/v4/tl.gif");
  background-repeat:no-repeat;
  background-position: 0px 4px;
  padding-left:15px;
  font-weight:bold;
}

.article {
  background-image:url("/images/v4/bg_article.gif");
  background-repeat:no-repeat;
}

.articledate {
  color: #4E4E4E;
  margin-bottom:7px;
  font-style: italic;
}

.articletitle {
  margin-left:15px;
  font-weight:bold;
  font-size:12px;
}

.articleperex {
  margin-left:15px;
}

.articleborder {
  margin-left:15px;
  margin-top:9px;
  background-image:url("/images/v4/bg_art_dot.gif");
  background-repeat:repeat-x;
  height:10px;
}

.articleall {
  margin-top:9px;
  text-align:right;
  font-weight:bold;
}

#articleall {
  margin-top:9px;
  text-align:right;
  font-weight:bold;
}

.tbltd1 {
  background-color:#F2F2F2;
  padding:3px;
}

.tbltd0 {
  background-color:#FAFAFA;
  padding:3px;
}

.tbltd2 {
  background-color:#FFFFFF;
  padding:3px;
}

.tblheader {
  background-color:#CAD7F0;
  color:#000000;
  font-weight:bold;
  padding:3px;
}
.actionbox {
  background-color: #F2F7FB;
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
}
.indent{
	padding-left:20px;
}

/** -------- DROPDOWN LANGUAGE MENU ------------- */
/* language menu style */
div.lang-dropdown {
	float:right;
	margin-right:3px;
	_margin-right:1px;
	padding-top:23px;
	_padding-top:27px;
	background-color:#CCD2E2;
	text-align:right;
}
div.lang-dropdown ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align:left;
	}
div.lang-dropdown ul li {
	position: relative;
	}
ul.submenu {
	position: absolute;
	left: -1px; 
	display: none;
	background-color:white;
	border:1px solid gray;
	width:140px;
	}

/* Styles for Menu Items */
div.lang-dropdown ul li a {
	display: block;
	text-decoration: none;
	border-bottom: 0;
	}

/* Fix IE. Hide from IE Mac \*/
* _div.lang-dropdown ul li { float: left; height: 1%; }
* _div.lang-dropdown ul li a { height: 1%; }
/* End */

div.lang-dropdown ul li ul li a:hover { color: #E2144A; background: #EEEEEE; } /* Hover Styles */
		
div.lang-dropdown ul li ul li a { padding: 2px 3px 0px 10px; text-decoration: underline;} /* Sub Menu Styles */
		
li:hover ul, li.over ul { display: block; } /* The magic */
 
 /* ---------------------- */

/* --------- SEARCH BOX  --------------*/
#search {
	float:right;
	margin-right:3px;
	padding-top:20px;
	margin-left:10px;
	}
#search input.text {
    width:110px;
    height:18px;
    font-size:11px;
    border:1px solid gray;
}
#search table { 
	display:inline;
}

/* mouse-over ruled table styles------------------------------------ */
table.ruled {
	border: 1px solid gray;
  border-collapse: collapse;
}

table.ruled td {
  font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	border: 1px solid gray;
	padding: 2px;
}

table.ruled tr:hover td {
  background-color: #cccccc;
}

.ok {
  background-color: #00ff00;
}

.warn {
  background-color: yellow;
}

.problem {
  background-color: red;
}
