/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

{
	columns = (
		{
			name = "pkey";
			columntitle = "Key";
			columnclass = java.lang.Boolean;
			default = false;
			width = 30;
			minwidth = 20;
		},
		{
			name = "idx";
			columntitle = "Idx";
			columnclass = java.lang.Boolean;
			default = false;
			width = 30;
			minwidth = 20;
		},
		{
			name = "nullable";
			columntitle = "Null";
			columnclass = java.lang.Boolean;
			default = true;
			width = 30;
			minwidth = 20;
		},
		{
			name = "unique";
			columntitle = "Unique";
			columnclass = java.lang.Boolean;
			default = false;
			width = 40;
			minwidth = 20;
		},
		{
			name = "name";
			columntitle = "Name";
			columnclass = java.lang.String;
			default = "";
			width = 200;
			minwidth = 100;
			tip = "Enter column name";
		},
		{
			name = "type";
			columntitle = "Type";
			columnclass = java.lang.String;
			default = "";
			width = 100;
			minwidth = 50;
		},
		{
			name = "size";
			columntitle = "Size";
			columnclass = java.lang.Integer;
			alignment = right;
			default = 0;
			width = 30;
			minwidth = 20;
		},
		{
			name = "scale";
			columntitle = "Scale";
			columnclass = java.lang.Integer;
			alignment = right;
			default = 0;
			width = 30;
			minwidth = 20;
		},
		{
			name = "defval";
			columntitle = "Default value";
			columnclass = java.lang.String;
			alignment = right;
			default = "";
			width = 200;
			minwidth = 100;
		},
		{
			name = "check";
			columntitle = "Check";
			columnclass = java.lang.Boolean;
			default = false;
			width = 30;
			minwidth = 20;
		},
		{
			name = "checkcode";
			columntitle = "Check constraint";
			columnclass = java.lang.String;
			default = "";
			width = 100;
			minwidth = 50;
		}
	);
}