<?xml version="1.0" encoding="${fileEncoding}"?>
<#assign licenseFirst = "<!--">
<#assign licensePrefix = "">
<#assign licenseLast = "-->">
<#include "${project.licensePath}">

${doctype}
<${rootTagNs}${nsDeclarations}>
    ${generatedContent}
</${rootTagNs}>
