<ul>
	<li>{$hello->{'item'}}</li>
	<li>{function(){}}</li>
	<li>{function(){return}}</li>
	<li>{function() { return; } }</li>
	<li>{function(){return}|upper}</li>
	<li>{function() { return; } |upper}</li>
	<li>{function() { return; } |upper:$item->{10}}</li>
</ul>