/* 
    Document   : __NAME__
    Created on : __DATE__, __TIME__
    Author     : __USER__
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

@media screen{
    root {
        display: block;
        font-family: 'Courier New',Courier,monospace
    }
    
    a {
        direction: straight
    }

}
@media print{
    #5123 {
    
    }    
}

