<#assign licenseFirst = "/*">
<#assign licensePrefix = " * ">
<#assign licenseLast = " */">
<#include "${project.licensePath}">

<#if package?? && package != "">
package ${package};

</#if>

/** Jersey REST client generated for REST resource:${REST_RESOURCE_NAME}<br>
 *  USAGE:<pre>
 *        ${name} client = new ${name}();
 *        Object response = client.XXX(...);
 *        // do whatever with response
 *        client.close();
 *  </pre>
 * @author ${user}
 */
public class ${name} {

}
