<html>
    <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>${projectname}</title>
    </head>
    <body>
        <div style="text-align:center">
            <form method="get" action="${webcontextpath}${servletmapping}">
                <table border=0>
                    <tr>
                        <td>Your Name:</td>
                        <td><input type="text" name="name"></input></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" value="Say Hello"></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>
