input(type = name || 2  sranda )
 input(type = name && 2 , sranda )
 input(type = name % 2  sranda )
 input(type = name * 2 , sranda )
 input(type = name - 2 sranda   )
 input(type = name + 2 ,sranda)
 input(type = name / 2 ,sranda  )
 input(type = name * 2 ,sranda test)
 input(type = name - 2 , sranda, test )
 input(type = name + 2 , sranda test )