p 
 // 
  line comment 1
                line comment 2
  line comment 3

  line coment
This is not comment now

p 
 //- 
  line comment 1
                line comment 2
  line comment 3

  line coment
This is not comment now

// 
  line comment 1
                line comment 2
  line comment 3

  line coment
This is not comment now

//- 
  line comment 1
                line comment 2
  line comment 3

  line coment
This is not comment now