
doctype html
doctype xml
doctype transitional
doctype strict
doctype frameset
doctype 1.1
doctype basic
doctype mobile
doctype html PUBLIC "-//W3C//DTD XHTML Basic
doctype html PUBLIC "-//W3C//DTD XHTML Basic"