| Plain text can include <strong>html</strong>
p
  | It must always be on its own line

p| Plain text can include <strong>html</strong>
  
p. 
   hello this is plain text after tag
    that has more lines