- var name = "Jitule"
p/

// test javascript with escaped test
    new line

p= 'This code is' + ' <escaped>!'

// test javascript with escaped test
    new line

p
  ='This code is' + name + ' <escaped>!'

// test javascript with escaped test
    new line

p
  ='This code is <escaped>!'

// test javascript with escaped test
    new line

p
  !='This code is ' + name + ' <escaped>!'


// test javascript with escaped test
    new line

p
  != name

p!=name
