
tagname:withcolon


first: second: third : text



tag#first#second.class1.class2#third.class3

tag#first: tag#first#second

// testing block of code 
tag#id1.class1
    p. this text should not be there, is not rendered
     ahoj jak se mas 
     ja se mam dobre

// testing block of code
tag#id. block
   line 1 of the block
   line 2 of the block

tag#id. block
   line 1 of the block
   line 2 of the block

    poracovani bloku
