<#assign licenseFirst = "!">
<#assign licensePrefix = "! ">
<#assign licenseLast = "!">
<#include "${project.licensePath}">

!     
! File:   ${NAME}.${EXTENSION}
! Author: ${user}
!
! Created on ${DATE}, ${TIME}
!

MODULE ${NAME}


END MODULE ${NAME}
