<#assign licenseFirst = "/*">
<#assign licensePrefix = " * ">
<#assign licenseLast = " */">
<#include "${project.licensePath}">

package ${package};

import javax.ejb.EJBObject;

/**
 *
 * @author ${user}
 */
public interface ${name} extends EJBObject {
    
}
