<#assign licenseFirst = "/*">
<#assign licensePrefix = " * ">
<#assign licenseLast = " */">
<#include "${project.licensePath}">

package ${package};

import javax.ejb.CreateException;
import javax.ejb.EJBLocalHome;

/**
 *
 * @author ${user}
 */
public interface ${name} extends EJBLocalHome {
    
    ${localInterface} create()  throws CreateException;

}
