<div ng-click=""><!--cc;16;;0;test,hello,ironman,dog;hello;hel|lo();test2,hello2,dog3,test3;-->
    <!--cc;3;{{}};2;test,hello,ironman,dog;test;test|}};test2,hello2,dog3,test3;-->
    
    
    
    <div ng-model=""></div><!--cc;20;ironman.;0;iteration,date,exec,config;date;da|te";test2,hello2,dog3,ironman3;-->
    <div ng-model=""></div><!--cc;20;ironman.;0;iteration,date,exec,config;config;co|nfig";test2,hello2,dog3,ironman3;-->
    <div ng-model=""></div><!--cc;20;ironman.date.;0;getDate,getDay;getDate;getD|ate();test2,hello2,dog3,ironman3;-->
    <div ng-model=""></div><!--cc;20;ironman.config.;0;url,http;http;.ht|tp;test2,hello2,dog3,ironman3;-->
    <div ng-bind=""></div>
    
    <!--cc;3;{{ironman.}};2;iteration,date,config,exec;config;.conf|ig;test2,hello,test,test3;-->

    <!--cc;3;{{ironman.config.}};2;http,url;http;.htt|p;test2,hello,test,test3;-->
    
    <!--cc;3;{{ironman.date.}};2;getDate,getDay;getDate;get|Date();test2,hello,test,test3;-->
    
    <!--cc;3;{{dog.}};2;name;name;na|me}};test2,hello,test,test3;-->
    
    <div ng-bind=""></div><!--cc;19;dog.;0;name;name;na|me";test2,hello,test,test3;-->

    
    <div ng-model=""><!--cc;20;;0;test,hello,ironman,dog;hello;hel|lo();test2,hello2,dog3,test3;-->
    <div ng-bind=""><!--cc;19;;0;test,hello,ironman,dog;hello;hel|lo();test2,hello2,dog3,test3;-->
    
     <!--cc;3;<div ng-controller="></div>;8;MyCtrl1,MyCtrl2,MyCtrl3;MyCtrl1;"M|yCtrl1; ;-->   
     
     <!--gt;3;<div ng-click="hello()"></div>;11;controllers.js;7;12;-->   
     <!--gt;3;<div ng-model="test"></div>;9;controllers.js;6;12;-->   
     <!--gt;3;<div ng-bind="dog"></div>;9;controllers.js;10;12;-->   
     <!--gt;3;<div ng-bind="ironman.date"></div>;9;controllers.js;33;10;-->   
     <!--gt;3;<div ng-bind="ironman.config.url"></div>;9;controllers.js;37;9;-->   
     <!--gt;3;{{test}};4;controllers.js;6;12;-->   
     <!--gt;3;{{ironman.config.url}};4;controllers.js;37;9;-->   
     <!--gt;3;{{ironman.date}};4;controllers.js;33;10;-->   
     <!--gt;3;{{dog.name}};4;controllers.js;10;19;-->   
     <!--gt;3;<div ng-controller="MyCtrl1"></div>;11;controllers.js;5;10;-->   
     
     
</div>
