# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

name: Apache Netbeans Continuous Integration

on:
  push:
  pull_request:

jobs:
  windows:
    name: Windows build
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Caching dependencies
        uses: actions/cache@v2
        with:
          path: ~/.hgexternalcache
          key: ${{ runner.os }}-${{ hashFiles('**/external/binaries-list') }}
          restore-keys: ${{ runner.os }}-

      - name: Clean
        run: ant clean
        
      - name: Build
        run: ant build
        
      - name: Test
        run: ant -f platform/core.network test

      - name: Test PHP modules
        run: |
          ant -f php/hudson.php test
          ant -f php/languages.neon test
          ant -f php/php.api.annotation test
          ant -f php/php.api.documentation test
          ant -f php/php.api.executable test
          ant -f php/php.api.framework test
          ant -f php/php.api.phpmodule test
          ant -f php/php.api.testing test
          ant -f php/php.apigen test
          ant -f php/php.atoum test
          # ant -f php/php.code.analysis test
          ant -f php/php.codeception test
          ant -f php/php.composer test
          ant -f php/php.dbgp test
          ant -f php/php.doctrine2 test
          # ant -f php/php.editor test
          # ant -f php/php.latte test
          ant -f php/php.nette.tester test
          ant -f php/php.phpunit test
          ant -f php/php.project test
          ant -f php/php.refactoring test
          # ant -f php/php.smarty test
          # ant -f php/php.symfony test
          # ant -f php/php.symfony2 test
          ant -f php/php.twig test
          ant -f php/php.zend test
          ant -f php/php.zend2 test
          ant -f php/spellchecker.bindings.php test

  linux:
    name: Check Build System
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Caching dependencies
        uses: actions/cache@v2
        with:
          path: ~/.hgexternalcache
          key: ${{ runner.os }}-${{ hashFiles('**/external/binaries-list') }}
          restore-keys: ${{ runner.os }}-

      - name: Clean
        run: ant -Dcluster.config=basic clean

      - name: Build
        run: ant -Dcluster.config=basic build

      - name: Test Netbeans Build System
        run: ant -Dcluster.config=basic localtest
        
  macos:
    name: MacOS build
    runs-on: macos-10.15
    steps:
      - uses: actions/checkout@v2
        
      - uses: actions/cache@v2
        with:
          path: |
            ~/.hgexternalcache
            ~/Library/Caches/Homebrew
          key: ${{ runner.os }}-${{ hashFiles('**/external/binaries-list') }}
          restore-keys: ${{ runner.os }}-

      - run: brew install ant

      - name: Clean
        run: ant clean

      - name: Build
        run: ant build

      - name: Test
        run: |
          ant -f platform/masterfs.macosx test
          ant -f platform/core.network test
